[user]
  name = Pat Collins
  email = pat@burned.com

[sendemail]
  smtpserver = smtp.gmail.com
  smtpserverport = 587
  smtpencryption = tls
  smtpuser = pat@burned.com

[alias]
  aliases = !git config --get-regexp alias | sed -e 's/^alias\\.\\(.*\\)$/\\1/' -e 's/^\\([^ ]\\{1,\\}\\) \\(.*\\)$/\\1 = \\2/'
  br = branch
  cb = rev-parse --abbrev-ref HEAD
  cl = clone
  ci = commit
  co = checkout
  co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
  fa = "!f(){ for remote in `git remote -v | grep -v heroku | awk '{print $1}' | uniq`; do set -x; git fetch -p $remote; { set +x; } 2>/dev/null; done };f"
  x = checkout HEAD
  s = status -sb -uno --ignore-submodules=untracked
  st = status
  sa = status -sb --ignore-submodules=untracked
  wd = diff --word-diff
  incoming = !git fetch && git log ..origin/HEAD
  outgoing = !git fetch && git log origin/HEAD..
  p = push
  pf = push --force-with-lease
  poh = push origin HEAD
  pgm = push golden master
  pr = "!f(){ set -x; git fetch -p origin; git branch -r --merged | grep origin | grep -v '>' | grep -v master | grep -v develop | xargs -L1 | awk '{split($0,a,\"/\"); print a[2]}' | xargs -L10 -P3 git push origin --delete; { set +x; } 2>/dev/null; };f"
  rv = remote -v
  ra = "!f(){ set -x; git rebase origin/master master; git rebase origin/develop develop; { set +x; } 2>/dev/null; };f"
  rb = "!f(){ set -x; git rebase \"origin/$1\" \"$1\"; { set +x; } 2>/dev/null; };f"
  trackup = branch --set-upstream
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
  ll = log --pretty=oneline --abbrev-commit --max-count=15
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h %C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'

[apply]
  whitespace = fix

[core]
  ignorecase = false
  filemode = true
  logallrefupdates = true
  whitespace = space-before-tab, trailing-space
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore_global

[help]
  browser = gitscm

[branch]
  autosetupmerge = true

[diff]
  renames = copies
  mnemonicprefix = true

[push]
  default = current

[color]
  ui = auto
  ;branch = auto
  ;diff = auto
  ;interactive = auto
  ;status = auto

[color "diff"]
  meta = blue bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "branch"]
  current = yellow reverse
  local = yellow bold
  remote = green bold
  plain = red bold

[color "status"]
  added = yellow
  changed = green bold
  untracked = blue bold

[merge]
  tool = opendiff

[mergetool]
  keepBackup = false

[browser "gitscm"]
  cmd = /bin/sh -c 'open http://git-scm.com/docs/$(basename $1 .html)' --

[include]
  path = .gitconfig_custom

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
