[user]
  name = Patrick Collins
  email = pat@burned.com
  signingkey = DEDC0C0CA92BF20F

[sendemail]
  smtpserver = smtp.gmail.com
  smtpserverport = 587
  smtpencryption = tls
  smtpuser = pat@burned.com

[alias]
  aa = add -A
  aliases = !git config --get-regexp alias | sed -e 's/^alias\\.\\(.*\\)$/\\1/' -e 's/^\\([^ ]\\{1,\\}\\) \\(.*\\)$/\\1 = \\2/'
  assume   = update-index --assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
  unassume = update-index --no-assume-unchanged
  br = branch
  cb = rev-parse --abbrev-ref HEAD
  cl = clone
  ci = commit
  co = checkout
  co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
  x = checkout HEAD
  s = status -sb -uno --ignore-submodules=untracked
  st = status
  sa = status -sb --ignore-submodules=untracked
  wd = diff --word-diff
  incoming = !git fetch && git log ..origin/HEAD
  outgoing = !git fetch && git log origin/HEAD..
  p = push
  pf = push --force-with-lease
  poh = push origin HEAD
  pgm = push golden master
  rv = remote -v
  rb = "!f(){ set -x; git rebase \"origin/$1\" \"$1\"; { set +x; } 2>/dev/null; };f"
  rbc = "!f(){ set -x; CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD); git rebase \"origin/$CURRENT_BRANCH\" \"$CURRENT_BRANCH\"; { set +x; } 2>/dev/null; };f"
  trackup = branch --set-upstream
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
  ll = log --pretty=oneline --abbrev-commit --max-count=15
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h %C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
  assume   = update-index --assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
  unassume = update-index --no-assume-unchanged

[apply]
  whitespace = fix

[core]
  ignorecase = false
  filemode = true
  logallrefupdates = true
  whitespace = space-before-tab, trailing-space
  autocrlf = input
  editor = nvim
  excludesfile = ~/.gitignore_global

[help]
  browser = gitscm

[branch]
  autosetupmerge = true

[commit]
  gpgsign = true

[diff]
  # tool = vimdiff
  renames = copies
  mnemonicprefix = true

# [difftool]
#   prompt = false

[gpg]
  program = gpg2

# [log]
  # showSignature = true

[push]
  default = current

[color]
  ui = auto
  ;branch = auto
  ;diff = auto
  ;interactive = auto
  ;status = auto

[color "diff"]
  meta = blue bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "branch"]
  current = yellow reverse
  local = yellow bold
  remote = green bold
  plain = red bold

[color "status"]
  added = yellow
  changed = green bold
  untracked = blue bold

[merge]
  # tool = opendiff
  tool = smerge

[rebase]
  autoStash = true

[mergetool]
  keepBackup = false

[browser "gitscm"]
  cmd = /bin/sh -c 'open http://git-scm.com/docs/$(basename $1 .html)' --

[include]
  path = .gitconfig_custom

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
