/*-nativefier-*
/1Password
/autokey/autokey.json
/autokey/autokey.json~
/autokey/autokey.log
/autokey/autokey.pid
/autostart
/BetterDiscord
/cmus
/Code - OSS/
/configstore
/Cypress
/direnv/allow
/discord
/Duplicati
/chromium
/enchant
/eog
/epiphany
/evince
/evolution
/expressvpn
/gnome-boxes
/goa-1.0
/google-chrome
/gtk-3.0
/gtk-4.0
/kfontinstuirc
/knfsshare
/krunnerrc
/kwalletrc
/kwalletmanager5rc
/plasma-nm
/systemmonitorrc
/trashrc
/libaccounts-glib
/libvirt
/LosslessCut
/marktext
/marlin
/menus
/mimeapps.list
/monitors.xml*
/ncspot
/neofetch
/pipewire-media-session
/plank
/pulse
/QtProject.conf
/rclone/rclone.conf
/rofi
/Simplenote
/Slack
/spotify
/systemd/user/*.wants
/sublime-merge
/sublime-text-3
/VirtualBox
/vlc
/Windows
/dconf/user*

# added with `git status --porcelain | grep ^? | awk '{print $2}' | sed 's=^home/.config==' | tee -a ~/.config/.gitignore`
/Thunar/
/Trolltech.conf
/akregatorrc
/autostart/plank.desktop
/baloofilerc
/bluedevilglobalrc
/discoverrc
/dleyna-renderer-service.conf
/dleyna-server-service.conf
/emaildefaults
/gedit/
/gnome-control-center/
/gtkrc
/gtkrc-2.0
/kactivitymanagerd-statsrc
/kactivitymanagerdrc
/kateschemarc
/kcminputrc
/kconf_updaterc
/KDE
/kde.org/
/kded5rc
/kdeglobals
/kglobalshortcutsrc
/khotkeysrc
/kmixrc
/kscreenlockerrc
/ksmserverrc
/ksplashrc
/ktimezonedrc
/kwinrc
/kwinrulesrc
/kxkbrc
/orage/
/pavucontrol.ini
/plasma-localerc
/plasma-org.kde.plasma.desktop-appletsrc
/plasma.emojierrc
/plasmanotifyrc
/plasmarc
/plasmashellrc
/powermanagementprofilesrc
/qmk
/sddmthemeinstallerrc
/session/
/systemsettingsrc
/totem/
/touchpadxlibinputrc
/xfce4/
/xsettingsd/
