/autokey/autokey.json~
/autokey/autokey.log
/autokey/autokey.pid
/configstore
/Cypress
/direnv/allow
/Duplicati
/chromium
/enchant
/epiphany
/evolution
/expressvpn
/gtk-3.0
/gtk-4.0
/libaccounts-glib
/marktext
/marlin
/menus
/neofetch
/plank
/pulse
/QtProject.conf
/Simplenote
/Slack
/spotify
/sublime-merge
/sublime-text-3
/VirtualBox
/vlc
/Windows
